*{
  padding: 0px;
  margin: 0px;
}
body{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
nav {
  
  float: left;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top:35%; /* Stay at the top */
  left: 0;
  color: rgb(255, 255, 255);
  background-color:transparent;
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-left: 10px;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items:stretch;
}

nav ul {
  text-align: center;
  height:50%;
}
.space {
  height: 0.2em;
}
nav ul li {
  border-radius:50%;
  background-color: rgba(227, 77, 184, 0.5) ;
  margin-top:20%;
  list-style-type: none ;
  position: relative;
  width: 2.4em;
  height: 2.4em;
  cursor: pointer;
  

 
}


/* ///////////////////////////////// Home ///////////////////////////////*/


.containerhome{
 /* background-image: linear-gradient(330deg,rgb(48, 1, 106),rgb(114, 22, 189),rgb(186, 33, 209));
  */height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introtext{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.home{
  margin-top: 0px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: white;
}
.hometitle{
  /*font-family:var(--font-family-display,"Charlie Display",sans-serif);*/
  font-family:var(--font-big);
  font-size: 40px;
  width:45%;
}
.hometext{
  margin-top: 40px;
  font-family: var(--font-text);
  font-size: 20px;
  width:45%;
  
}

/* backgroung */

.bg {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: 300% 300%;
	background-image: linear-gradient(-45deg, rgb(239, 13, 220) 0%, rgb(109, 17, 156) 25%, rgb(114, 18, 232) 51%, #e6b903 100%);
	-webkit-animation: AnimateBG 20s ease infinite;
			animation: AnimateBG 20s ease infinite;
  }
  
  @-webkit-keyframes AnimateBG {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
  
  @keyframes AnimateBG {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }

  /* Wave */

  section .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
    }
    section .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
    }
    section .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
    }
    section .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
    }
    section .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
    }
    @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
    }
    @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
    }
/* Buttons */ 


:root{
  /* color type A */
  --line_color : #fcf5f5 ;
  --font-big : 'Bruno Ace SC', cursive;
  --font-text:'Courier New', Courier, monospace;
  --color-first :rgb(114, 18, 232) ;
  /* color type B */
  /* --line_color : #1b1919 ;
  --back_color : #E9ECFF  ; */

  /* color type C */
  /* --line_color : #00135C ;
  --back_color : #DEFFFA  ; */
}
.button:hover{
  color:rgb(245, 240, 240);
}
.button{
  position : relative ;
  z-index : 0 ;
  width : 180px ;
  height : 56px ;
  text-decoration : none ;
  font-size : 14px ; 
  font-weight : bold ;
  color : var(--line_color) ;
  letter-spacing : 2px ;
  transition : all .3s ease ;
}
.button__text{
  display : flex ;
  justify-content : center ;
  align-items : center ;
  width : 100% ;
  height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
  content : '' ;
  position : absolute ;
  height : 3px ;
  border-radius : 2px ;
  background : var(--line_color) ;
  transition : all .5s ease ;
}
.button::before{
  top : 0 ;
  left : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
  top : 0 ;
  right : 54px ;
  width : 8px ;
}
.button__text::before{
  bottom : 0 ;
  right : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
  bottom : 0 ;
  left : 54px ;
  width : 8px ;
}
.button__line{
  position : absolute ;
  top : 0 ;
  width : 56px ;
  height : 100% ;
  overflow : hidden ;
}
.button__line::before{
  content : '' ;
  position : absolute ;
  top : 0 ;
  width : 150% ;
  height : 100% ;
  box-sizing : border-box ;
  border-radius : 300px ;
  border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
  left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
  right : 0 ;
}
.button:hover{
  letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
  width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
  width : calc( 100% - 56px * 2 - 16px ) ;
}

.containerbtn{
  width :45% ;
  height : 80px ;
  display : flex ;
  justify-content:space-between;
  margin-top: 20px;
  align-items: center;
}

.logos {
  display: flex;
  flex-direction: row;
  gap:10px;
  color:white;
}
.logos a {
  color:white;
}


/*   ///////////////////////////////////  About ////////////////  */

.about{
  height: 80vh;
}
@media screen and (max-width: 991px){
  .about{
    height: auto;
  }
  .abouttext{
    width: 80%;
  }
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-big);
  color: var(--color-first);
  height: 180px;
}
.abouttext {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  word-spacing:8px;
  text-indent:40px;
  font-size: 17px;
  width:35%;
  line-height: 1.8;
  color:black;
}
.aboutlottie {
  width:40%;
  margin-left: 15%;
}
.aboutcontent{
  display: flex;
  align-items: center;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

.wrapper .bubble {
  height: 60px;
  width: 60px;
  border: 2px solid var(--color-first);
  opacity: 0.2;
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;
}
div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: var(--color-first);
  position: absolute;
  top: 20%;
  right: 20%;
}
.wrapper .bubble:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper .bubble:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.wrapper .bubble:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.wrapper .bubble:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper .bubble:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.wrapper .bubble:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.wrapper .bubble:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper .bubble:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.wrapper .bubble:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.wrapper .bubble:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.wrapper .bubble:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper .bubble:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.wrapper .bubble:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper .bubble:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper .bubble:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}




/* ////////////////////////// skills ///////////*/
@media screen and (max-width: 991px){
  .skill {
      
      height: 500em;
      margin-top: 0em;
  }
  .aboutcontent{
    display: flex;
    flex-direction: column;
  }
  .about {
    height: 65em;
  }
  .abouttext{
    margin-top: 6em;
  }
  
  .container{
    height: 60em;
  }
  .h1{
    height: auto;
  }
  
  }

  img {
    height: 4em;
    width: 5.5em;
    padding-top: 1em;
    padding-right: 1.4em;
    padding-left: 1.4em;
    padding-bottom: .4em;
  }
.node{
  width:6em;
}
.junit{
  width:8em;
  height: 4em;
}
/*
.skillbox{
  height:9em;
  border: 3px solid rgba(222, 77, 227, 0.5);
  border-radius: 1rem;
  margin-top: 0%;
  border-radius: 20px;
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  /*
  padding: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 30em;
  margin-bottom: 3em;
}*/
@media screen and (max-width: 800px){
  #skillbox{
    width: 95%;
  }
}
#skillbox{
  border: 3px solid rgba(222, 77, 227, 0.5);
  border-radius: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 9em;
  padding: 1.1em;
}

.skillset {
  display: flex;
}



h2 {
  color:black;
  margin-left:15%;
  margin-top: 5%;
  margin-bottom: 2%;
  font-family:'Courier New', Courier, monospace;
  color: rgb(59, 5, 88);
}

.skillimg {
  font-family: "Poppins",sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  color: black;
}
.data {
  width: 7em;
  height: 5em;
}

/* ///////////////////////////////////// */
.skillList {
  width:80%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap:2em;
}
.skills {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 1300px) {
  .skillList {
    grid-template-columns: 1fr 1fr;
  }
  .skillbox{
    width: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .skillList {
    grid-template-columns: 1fr;
  }
  .skillbox{
    width:450px;
  }
}

@media only screen and (max-width: 800px) {
  .skillList {
    width: 100%;
  }
}

/*//////////////////////////////////////////// */
/*
body {
  background-image: linear-gradient(-0deg, rgb(117, 73, 170)  0%,rgb(171, 99, 207) 25%,  rgb(252, 252, 252) 51%, rgb(255, 255, 255) 100%);

}*/
/*//////////////////////////////////////////////  exp  /////////////////////////////////////////////////*/
.experience {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.experience h3 {
  font-size: 18px;
}
.experience h4 {
  font-size: 13px;
}

 
  





/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.contact{
  height: 75vh;
}
#contactform {
	width:40%;
  float:right; 
  display:flex; 
  padding:5em;
  border-width: 1em;
  border-radius:2em;
	color: #fcf5f5;

  /*
	background-image: linear-gradient(-45deg, rgb(239, 13, 220) 0%, rgb(109, 17, 156) 25%, rgb(114, 18, 232) 51%, #e6b903 100%);
	-webkit-animation: AnimateBG 20s ease infinite;
			animation: AnimateBG 20s ease infinite;*/
  }
input{
  border-radius: 0.5em;
  height: 3em;
  background-color: transparent;
  border: 3px solid rgba(222, 77, 227, 0.5);
}

.footer{
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  background-color:rgb(84, 5, 123);
  height: 50vh;
  display: flex;
  justify-content: center;
}





.card {
  position: relative;
  display: inline-block;
}

.card-info {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  padding: 10px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card:hover .card-info {
  opacity: 1;
  visibility: visible;
}
.card img{
  width:300px;
  height:300px;
}
.card:hover  {
  transform: scale(2);
}